<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.two.mapper.OConfiguration">


    <select id="getInfoconfiguration" resultType="com.two.pojo.Configuration">
        select * from agriculture.systemconfiguration
    </select>

    <insert id="insertconfiguration" parameterType="com.two.pojo.Configuration">
        insert into agriculture.systemconfiguration(sitetitle, websitedescription, websitekeywords, websitelogo,
        contact, contactaddress, websiteregistrationnumber, announcementoftheinformation, updatetime,createtime)
        values(#{sitetitle},#{websitedescription},#{websitekeywords},#{websitelogo},#{contact},#{contactaddress},#{websiteregistrationnumber},#{announcementoftheinformation},#{updatetime},#{createtime})
    </insert>

    <update id="updateconfiguration" parameterType="com.two.pojo.Configuration">
        update agriculture.systemconfiguration set sitetitle=#{sitetitle},websitedescription =
        #{websitedescription},websitekeywords = #{websitekeywords},websitelogo =
        #{websitelogo},contact=#{contact},contactaddress=#{contactaddress},websiteregistrationnumber=#{websiteregistrationnumber},announcementoftheinformation=#{announcementoftheinformation},updatetime
        = #{updatetime} where id =#{id}
    </update>


</mapper>